* {
    box-sizing: border-box;
    font-weight: normal;
    margin: 0;
}

html{
    font-family: $font-default;

}

body {
    background-color: $bg_body;
    max-width: $container;
    margin: 0 auto;
    padding: 0;
}


a {
    &:link,
    &:visited {
      text-decoration: none;
    }
}

ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}


img {
    display: block;
    max-width: 100%;
    height: auto;
}