// Container
$container: 1640px;
$main_container : 1410px;



// Font
$font-size-nav: 14px;
$font-default: 'Sen',sans-serif;


// Couleurs
$bg_body: #06080F;
$nav_lien_color: #FFFFFF;
$nav_lien_hover: #E6CF37;